extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura 

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, quidem labore, id molestias sit distinctio provident quibusdam cupiditate quas voluptatibus tenetur quod soluta placeat aspernatur veniam. Voluptate dolorem sapiente nisi!Veritatis, incidunt! Sequi enim a nulla minus ut? Odio sint quidem eligendi itaque ab vero suscipit recusandae animi. Obcaecati maxime laboriosam natus, pariatur placeat corrupti! Repudiandae quam voluptates optio suscipit.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum incidunt voluptate explicabo nobis neque quos corporis fuga dolore deserunt, nemo perferendis maxime ad possimus ducimus necessitatibus odio sit itaque? Dolor! Sequi enim a nulla minus ut? Odio sint quidem eligendi itaque ab vero suscipit recusandae animi. Obcaecati maxime laboriosam natus, pariatur placeat corrupti! Repudiandae quam voluptates optio suscipit.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")