extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen turistica", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eius doloribus at ab praesentium obcaecati dolor optio a, non voluptatum mollitia veniam cumque quod eaque? Exercitationem nesciunt maxime rerum animi?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat facilis inventore, maiores nesciunt odio voluptas? Optio, dolorem veniam perferendis culpa sapiente fuga adipisci animi nisi minima dolores quia facilis corrupti.
                
                p Excepturi pariatur inventore praesentium molestiae repellat ut? Numquam odio cumque quisquam beatae nobis omnis porro qui illum officiis voluptatum natus corrupti quam ea, dolorum harum ullam cupiditate reiciendis magni accusantium!Voluptatum ullam beatae vel assumenda, iure minus explicabo, veritatis enim est sint mollitia aliquam magnam. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Quod cupiditate iusto quos unde, voluptatum temporibus illo quasi mollitia impedit quidem, ipsa a tempore sint dolor! Cupiditate quod veritatis delectus incidunt?

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los mejores destinos 
                    p Quod cupiditate iusto quos unde, voluptatum temporibus illo quasi mollitia impedit quidem, ipsa a tempore sint dolor! Cupiditate quod veritatis delectus incidunt?

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Quod cupiditate iusto quos unde, voluptatum temporibus illo quasi mollitia impedit quidem, ipsa a tempore sint dolor! Cupiditate quod veritatis delectus incidunt?